.App {
  text-align: center;
}

.pad15 {
  padding :15px;
}
.nodisp {
  display: none;
}
.error-text {
  font-size: 12px;
  color: red;
}
.pointer {
  cursor: pointer;
}
.padtb-l-2-0 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
}
.pad-2-4 {
  padding: 0.5rem 1rem;
}
.pad-1 {
  padding: 0.3rem
}
.lh-1 {
  line-height: 1 !important;
}
.card-body.list-wrap {
  padding: 0.75rem 0.5rem !important
}
.table.dataTable thead th {
  padding: 0.75rem 10px !important;
}
.table.dataTable tbody td {
  padding: 0.5rem 0.5rem !important;
}
.badgedData {
  padding: 5px 10px;
  vertical-align: middle;
}
.wid-100 {
  width:100% !important;
}
.checkedlist {
  background-color: #D4E6F1;
  border: 1 px solid #8cc6ec;
  padding: 5px;
}
.mrg-t-1 {
  margin-top: 5px;
}